<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link" href="/inventarioH">INVENTARIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/entradaH">ENTRADAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/salidaH">SALIDAS</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

        <div class="row">
        <a href="/entradaH/addEntradaH" class="btn btn-success mb-4">
            <i class='bx bxs-plus-circle'></i>
            Registrar entrega
        </a> 
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Medida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Dejo Materia prima</th>
                <th scope="col">Se entrego</th>
                <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each entradasH}}
                <tr>
                <th scope="row"> {{ ID_entradaH }} </th>
                <td>{{Nom_mpHE}}</td>
                <td>{{Desc_mpHE}}</td>
                <td>{{Medida_mpHE}}</td>
                <td>{{Cant_mpHE}}</td>
                <td>{{NomUs_dejo}}</td>
                <td>{{timeago Date_HrE}}</td>
                <!--<td>
                    <a href="/entradaH/editEntrada/{{ ID_entradaH }}" class="btn btn-primary btn-sm">
                        <i class='bx bx-edit-alt'></i>
                        Editar
                    </a>
                    
                </td>-->
                <td>
                    <button class="btn btn-danger btn-sm" onclick="popUpDelEH({{ID_entradaH}})">
                        <ion-icon name="trash-outline"></ion-icon>
                        Eliminar
                    </button>
                </td>
                </tr>
                {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>No se ha recibido materia prima</p>
                    </div>
                </div>
                {{/each}}
            </tbody>
            </table>
        </div>
</div>


</div>