{{> navAdministrador}}

<section class="home-section pt-4 mt-4">

<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link" href="/Administrador/usuarios">USUARIOS</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="/Administrador/roles">ROLES</a>
        </li>-->
        <!--<li class="nav-item">
            <a class="nav-link" href="/Administrador/privilegios">PRIVILEGIOS</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/Administrador/recintos">RECINTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Administrador/mp">MATERIA PRIMA</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

            <div class="row">
                <div class="col">
                    <a href="/Administrador/pedido" class="btn btn-outline-dark mb-4">
                        <i class="bx bx-book-open"></i>
                        Pedidos pendientes
                    </a>
                </div>
                <div class="col">                     
                    <a href="/Administrador/mp/listaEntradaMp" class="btn btn-outline-success mb-4">
                        <i class='bx bxs-cart-add'></i>
                        Entradas
                    </a>
                    <a href="/Administrador/mp/listaSalidaMp" class="btn btn-outline-info mb-4">
                        <i class='bx bxs-cart-download' ></i>
                        Salidas
                    </a>
                </div>
            </div>

        <div class="justify-content-center row">
            <div class="table-responsive-xl">
                <table class="table table-responsive table-striped table-borderedtable-hover">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Medida</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Stock</th>
                        <!--<th scope="col">Estatus</th>-->
                        <!--<th scope="col"></th>-->
                        <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each msp}}
                        <tr>
                        <th class="text-center" scope="row"> {{ ID_materiaPrima }} </th>
                        <td>{{Nom_materiaPrima}}</td>
                        <td>{{Desc_materiaPrima}}</td>
                        <td class="text-center">{{Medida_materiaPrima}}</td>
                        <td class="text-center">{{Cant_materiaPrima}}</td>
                        <td class="text-center">{{stock}}</td>
                        <!--<td class="text-center">{{estatus}}</td>-->
                        <!--<td class="text-center">{{Desc_estatus}}<i class='bx bxs-info-circle bx-tada'></i></td>-->
                        
                        <td>
                            <a href="/Administrador/mp/editMp/{{ ID_materiaPrima }}" class="btn btn-outline-primary btn-sm">
                                <i class='bx bx-edit-alt'></i>
                                Editar
                            </a>
                            
                        </td>
                        <td>
                            <button onclick="popUpDelMp({{ ID_materiaPrima }})" class="btn btn-outline-danger btn-sm">
                                <ion-icon name="trash-outline"></ion-icon>
                                Eliminar
                            </button>
                        </td>
                        </tr>
                        {{else}}
                        <div class="mx-auto pb-4">
                            <div class="card card-body text-center">
                                <p>No se encuentra materia prima en el inventario</p>
                            </div>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            <caption class="pl-2 justify-content-center">Lista de materia prima del inventario principal</caption>
            </div>
        </div>
    </div>

</section>

