<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link" href="/usuarios">USUARIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/roles">ROLES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/privilegios">PRIVILEGIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recintos">RECINTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">MATERIA PRIMA</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

        <div class="row pl-4">
            <a href="/mp" class="btn btn-outline-dark btn-sm mb-4">
                <i class='bx bx-arrow-back'></i>
                Regresar
            </a>
        </div>

        <div class="justify-content-center row">
            <div class="table-responsive-xl">
                <table class="table table-responsive table-striped table-borderedtable-hover">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">ID_pedido</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Medida</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Recinto</th>
                        <th scope="col">ID_Recinto</th>
                        <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each msp}}
                        <tr>
                        <th class="text-center" scope="row"> {{ ID_materiaPrima }} </th>
                        <td>{{Nom_materiaPrima}}</td>
                        <td class="text-center">{{Medida_materiaPrima}}</td>
                        <td class="text-center">{{Cant_materiaPrima}}</td>
                        <td>{{stock}}</td>
                        <td class="text-center">{{estatus}}</td>
                        <td>{{usuario}}</td><!---->
                        <td>{{Recinto}}</td><!---->
                        <td class="text-center">{{ID_Recinto}}</td><!---->
                        <!--<td>
                            <a href="/mp/editMp/{{ ID_materiaPrima }}" class="btn btn-primary btn-sm">
                                <i class='bx bx-edit-alt'></i>
                                Editar
                            </a>
                            
                        </td>
                        <td>
                            <button onclick="popUpDelMp({{ ID_materiaPrima }})" class="btn btn-danger btn-sm">
                                <ion-icon name="trash-outline"></ion-icon>
                                Eliminar
                            </button>
                        </td>-->
                        <td>
                            <button onclick="popUpConfirmPedido({{ ID_mpH }})" class="btn btn-outline-success btn-sm">
                                <i class='bx bxs-check-circle'></i>
                                Confirmar
                            </button>
                            
                        </td>
                        <td>
                            <button onclick="popUpDenPedido({{ ID_mpH }})" class="btn btn-outline-danger btn-sm">
                                <i class='bx bxs-x-circle'></i>
                                Denegar
                            </button>
                        </td>
                        </tr>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card card-body text-center">
                                <p>No se encontraran pedidos</p>
                            </div>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        <div class="row">
            <caption class="pl-2 justify-content-center">Lista de pedidos</caption>
        </div>

        </div>
    </div>