{{> navCoordinador}}

<section class="home-section pt-4 mt-4">

<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link active" href="/Coordinador/inventarioH">INVENTARIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/entradaH">ENTRADAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/salidaH">SALIDAS</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if mensaje}}
    <div class="container">
        <div class="row">
            <div class="mx-auto">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class='bx bx-error bx-tada'></i>
                    {{mensaje}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    

<div class="row">
    <div class="col">
        <a href="/Coordinador/inventarioH" class="btn btn-outline-dark btn-sm mb-4">
            <i class='bx bx-arrow-back'></i>
            Regresar
        </a>
    </div>
    <div class="col">
        <a href="/Coordinador/inventarioH/addReaPedidoH" class="btn btn-outline-success mb-4">
            <i class='bx bxs-plus-circle'></i>
            Pedir Materia Prima
        </a>
    </div>
</div>

        
<div class="justify-content-center row">
    <div class="table-responsive-xl">
        <table class="table table-responsive table-striped table-borderedtable-hover">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Pedido</th>
                <th scope="col">Medida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Existencia</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
                <th scope="col">Requiere</th>
                <!--<th scope="col">ID_Recinto</th>-->
                <th scope="col">Peticion realizada</th>
                <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each pedidosHrea}}
                <tr>
                <th scope="row"> {{ ID_pedidoH }} </th>
                <td>{{pedidoH}}</td>
                <td>{{MedidaHP}}</td>
                <td>{{CantHP}}</td>
                <td>{{StockHP}}</td>
                <td>{{EstatusHP}}</td>
                <td><!--{{Desc_EstatusHP}}--><i class='bx bxs-info-circle' data-toggle="tooltip" data-html="true" title="{{Desc_EstatusHP}}"></i></td>
                <td>{{UsuarioHP}}</td>
                <!--<td>{{ID_Recinto}}</td>-->
                <td>{{timeago Date_Rea}}</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" onclick="popUpDelIHPrea({{ID_pedidoH}})">
                        <ion-icon name="trash-outline"></ion-icon>
                        Eliminar
                    </button>
                </td>
                </tr>
                {{else}}
                <div class="col-md-8 mx-auto pb-4">
                    <div class="card card-body text-center">
                        <p>No se encuentran pedidos disponibles</p>
                    </div>
                </div>
                {{/each}}
            </tbody>
            </table>
            <caption class="pl-2 justify-content-center">Lista de pedidos realizados</caption>
        </div>
    </div>
</div>


</div>

</section>