{{> navCoordinador}}

<section class="home-section pt-4 mt-4">

<div class="container mt-2">

    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
             <a class="nav-link active" href="/Coordinador/pedidoCoord">INVENTARIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/entradaH">ENTRADAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/salidaH">SALIDAS</a>
        </li>
    </ul>

    {{#if completo}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{completo}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if mensaje}}
    <div class="container">
        <div class="row">
            <div class="mx-auto">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class='bx bx-error bx-tada'></i>
                    {{mensaje}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if warning}}
    <div class="container">
        <div class="row">
            <div class="mx-auto">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="fa-solid fa-boxes-stacked fa-lg fa-bounce"></i>
                {{warning}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

        <div class="row">
            <div class="col-md-8 mx-auto pb-4 mb-4">

                <a href="/Coordinador/pedidoCoord/listaPPL" class="btn btn-outline-dark btn-sm mb-4">
                    <i class='bx bx-arrow-back'></i>
                    Regresar
                </a>

                <div class="card">
                    <div class="card-header text-center">
                        ENTRADA MATERIA PRIMA
                    </div>
                    <div class="card-body">
                        <form action="/Coordinador/pedidoCoord/addInvH/{{ pedido.ID_pedidoH }}" method="POST" readonly>
                            <div class="form-group">
                                <label>Nombre de materia prima: </label>
                                <input type="text" value="{{pedido.pedidoH}}" class="form-control" name="Nom_mpHE" readonly>
                            </div>
                            <div class="form-group">
                                <label>Descripción de materia prima: </label>
                                <textarea name="Desc_mpHE" rows="2" class="form-control" readonly>{{ pedido.Desc_pedido }}</textarea>
                            </div>
                            <div class="form-group">
                                <!--<label>Tipo de Medidas</label>-->
                                <label>Medida:</label>
                                <input type="texto" value="{{ pedido.MedidaHP }}" class="form-control" name="Medida_mpHE" readonly>
                                <!--<select onchange="" class="custom-select" id="listTPH">
                                        <option value="" selected> Selecciona el tipo de medida...</option>
                                        {{#each pedidos}}
                                        <option value="{{MedidaHP}}">{{MedidaHP}}</option>
                                        {{/each}}
                                </select>-->
                            </div>
                            <!--<div class="form-group" id="formMPH">
                                <label>Medida</label>
                                <input disabled class="form-control" id="inputBlock" placeholder="Selecciona El tipo de medida" readonly>
                            </div>-->
                            <div class="form-group">
                                <label>Cantidad: </label>
                                <input type="number" value="{{pedido.CantHP}}" class="form-control" name="Cant_mpHE" readonly>
                            </div>
                            <div class="form-group">
                                <label>Usuario que dejo: </label>
                                <input type="text" class="form-control" name="NomUs_dejo" placeholder="Escribe el nombre del usuario que dejo la materia prima.....">
                            </div>
                                <!--<button type="button" class="btn btn-dark btn-sm mb-2">Nuevo usuario</button>
                                <button type="button" class="btn btn-dark btn-sm mb-2">Usuarios existentes</button>-->
                            <div class="form-group">
                                <label>Observaciones del pedido: </label>
                                <textarea rows="2" maxlength="500" class="form-control" name="Desc_EstatusMPHE" placeholder="Escribe alguna observación que quieras dar a conocer..."></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>